@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<a class="btn btn-outline-dark" asp-controller="Home" asp-action="Topics">Topics</a>
<a class="btn btn-outline-dark" asp-controller="Home" asp-action="ListPosts">All Posts</a>
